body{
    background-color: white;
}

/* Logo Picture*/
#logo{
    width: 25%;
    height: 17%;
    position: absolute;
    top: 80px  ;
    left: 3%;

}

/* Doctor Picture*/
#doc{
  width: 14%;
  height: 27%;
  position: absolute;
  top: 260px  ;
  left: 9%;

}

/* Doctor name */
#docname{
  position: absolute;
  top: 450px  ;
  left: 9%;
}

/* Doctor gender */
#docgen{
  position: absolute;
  top: 490px  ;
  left: 13%;
}

/* Patient Picture*/
#pat{
  width: 19%;
  height: 27%;
  position: absolute;
  top: 260px  ;
  left: 7%;

}

/* Patient name */
#patname{
  position: absolute;
  top: 450px  ;
  left: 9%;
}

/* Patient gender */
#patgen{
  position: absolute;
  top: 490px  ;
  left: 13%;
}

/* Logout  */
#out{
  position: absolute;
  left: 90%;
  top: 80px;
}

/* Menu Choice */
.dropbtn {
  background-color:black;
  color: white;
  padding: 0px 60px;
  font-size: 16px;
  border: none;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}
  
.dropdown-content {
  border-radius: 25px;
  display: none;
  position: absolute;
  top: 19px;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
  border-radius: 25px;
  background-color:red;
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color:red;
  }
  
.menu{  
    border-collapse:separate;
    border-radius: 25px;
    border:  5px solid black;
    table-layout: auto;
    background-color: red;
    position: absolute;
    top: 150px;
    left: 31%;
}

.menu td{
    border:  solid black;
    border-radius: 25px;
}

.menu button:hover{
    background-color: red;
}

.menu button{
    border-radius: 25px;
    border: 1px;
    padding: 0 60px;
    display: inline-block;
    background-color: black;
    font-size: 16px;
    color: white;
}


* {
    box-sizing: border-box;
  }
  
form.sch input[type=text] {
    position: absolute;
    left: 31%;
    padding: 8px;
    font-size: 17px;
    border: 1px solid black;
    float: left;
    width: 30%;
    background: white;
    border-radius: 25px;
}

/* Search Button */
form.sch button {
    position: absolute;
    left: 62%;
    float: left;
    width: 6%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}
  
form.sch button:hover {
    background: red;
}
  
form.sch::after {
    content: "";
    clear: both;
    display: table;
}

/* Profile & History*/
.profile{
  width:920px;
  height:350px;
  border:5px solid #000;
  position: absolute;
  top: 260px;
  right: 9%;
}

/* Queue */
.queue, .history{
  border-collapse: collapse;
  border:  5px solid black;
  table-layout: auto;
  background-color: white;
  width: 100%;
}

.queue, .history th{
  border-bottom: 1px solid #000;
  padding: 8px;
}
.queue, .history td{
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 8px;
}

/* Certificate */
.cert{
  width:920px;
  height:350px;
  border:5px solid #000;
  position: absolute;
  top: 260px;
  right: 9%;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#prt{
  font-size: 30px;
  position: absolute;
  background-color: green;
  right: 3%;
  top: 270px;
  width: 120px;
  height: 50px;
}

#can{
  font-size: 30px;
  position: absolute;
  background-color: red;
  right: 18%;
  top: 270px;
  width: 120px;
  height: 50px;
  
}

/* Checkup */
.temp{
  width:920px;
  height:350px;
  border:5px solid #000;
  position: absolute;
  top: 260px;
  right: 9%;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#tempe{
  position: absolute;
  top: 310px;
  width: 14%;
  height: 6%;
  left: 31.5%;
  font-size: 30px;
}
.weight{
  position: absolute;
  top: 265px;
  left: 53%;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#we{
  position: absolute;
  top: 310px;
  width: 14%;
  height: 6%;
  left: 53%;
  font-size: 30px;
}

.height{
  position: absolute;
  top: 265px;
  left: 73%;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#he{
  position: absolute;
  top: 310px;
  width: 14%;
  height: 6%;
  left: 73%;
  font-size: 30px;
}

.diag{
  position: absolute;
  top: 400px;
  left: 31.5%;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#di{
  position: absolute;
  text-align: justify;
  top: 440px;
  width: 59%;
  height: 22%;
  left: 31.5%;
  font-size: 30px;
}

/* Prescription Medicine */

/* Medicine 1 */
.med1{
  width:920px;
  height:350px;
  border:5px solid #000;
  position: absolute;
  top: 260px;
  right: 9%;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#med1n{
  position: absolute;
  top: 310px;
  width: 14%;
  height: 6%;
  left: 31.5%;
  font-size: 30px;
  opacity: 0.5;
}

#med1d{
  position: absolute;
  top: 360px;
  width: 14%;
  height: 6%;
  left: 31.5%;
  font-size: 30px;
  opacity: 0.5;
}

#med1r{
  position: absolute;
  top: 410px;
  width: 14%;
  height: 6%;
  left: 31.5%;
  font-size: 30px;
  opacity: 0.5;
}

/* Medicine 2 */
.med2{
  position: absolute;
  top: 265px;
  left: 53%;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#med2n{
  position: absolute;
  top: 310px;
  width: 14%;
  height: 6%;
  left: 53%;
  font-size: 30px;
  opacity: 0.5;
}

#med2d{
  position: absolute;
  top: 360px;
  width: 14%;
  height: 6%;
  left: 53%;
  font-size: 30px;
  opacity: 0.5;
}


#med2r{
  position: absolute;
  top: 410px;
  width: 14%;
  height: 6%;
  left: 53%;
  font-size: 30px;
  opacity: 0.5;
}


/* Medicine 3 */
.med3{
  position: absolute;
  top: 265px;
  left: 73%;
  font-size: 30px;
  font-family: arial, sans-serif;
}

#med3n{
  position: absolute;
  top: 310px;
  width: 14%;
  height: 6%;
  left: 73%;
  font-size: 30px;
  opacity: 0.5;
}

#med3d{
  position: absolute;
  top: 360px;
  width: 14%;
  height: 6%;
  left: 73%;
  font-size: 30px;
  opacity: 0.5;
}

#med3r{
  position: absolute;
  top: 410px;
  width: 14%;
  height: 6%;
  left: 73%;
  font-size: 30px;
  opacity: 0.5;
}

/* Send to Pharmacyst */
#send{
    font-size: 30px;
    position: absolute;
    background-color: lightgreen;
    right: 21%;
    top: 550px;
    width: 300px;
    height: 50px;
}

/* Cancel */
#cel{
  font-size: 30px;
  position: absolute;
  background-color: red;
  right: 12%;
  top: 550px;
  width: 120px;
  height: 50px;
  
}

